@charset "utf-8";

*{
	box-sizing: border-box;
}

html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	width: 100%;
}

/* header */
.header,.header-logo a img,.header-nav{
  height: 60px;
}
/* floatで横並び */
.header-logo{
	width: 50%;
	float: left;
	padding-left: 60px;
}
.header-nav{
	width: 50%;
	float: right;
}
.header-nav ul li{
	float: left;
	width: 10%;
	height: 60px;
	padding: 15px;
	text-align: center;
}
/* floatで横並び 終わり */
main{
	width: 90%;
	margin: 0 auto;
}
